html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.box1 {
    float: left;
    width: 100%;
    height: 100px;
    transform: translateX(-210px);
    margin-right: -210px;
    background-color: red;
}

.box2 {
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-color: blue;
}

.box3 {
    float: right;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-color: red;
}

.box4 {
    margin-right: 210px;
    height: 100px;
    background-color: yellow;
}
